* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pp mori;
  /* font-family: futura; */

}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #27282e;
}


nav {
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 12px 20px;
  font-size: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav label {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 10px;
  background-color: #333;
  border-radius: 6px;
  border: 1px solid #555;
  color: #eee;
  cursor: default;
}

main {
  padding-top: 60px; /* So it doesn't go under nav */
  height: calc(100vh - 60px);
  position: relative;
  width: 100vw;
  overflow: hidden;
  background-image: repeating-linear-gradient(
      to right,
      transparent 0 50px,
      #fff1 50px 51px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 50px,
      #fff1 50px 51px
    );
}
form {
  background-color: white;
  width: max-content;
  padding: 4px;
  margin: 10px;
  border-radius: 9px;
  display: flex;
  gap: 10px;
}

form input,
button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: large;
  cursor: pointer;
}

form input::-webkit-color-swatch-wrapper {
  padding: 0;
}
form input::-webkit-color-swatch{
border-radius: 50%;  
}

#list textarea {
    all: unset;
    color: white;
    font-size: 16px;
    
}

#list .note {
    background-color: #333;
    width: max-content;
    border-top: 30px solid yellow;
    border-radius: 9px;
    box-shadow: 0 10px 50px #181818;
    padding: 10px;
    position: absolute;
}


#list .note span{
    position: absolute;
    bottom: 100%;
    height: 30px;
    right: 0;
    padding: 5px 10px;
    font-size:large;

    cursor: pointer;
}

